<h1 mat-dialog-title>Add Product</h1>
<div mat-dialog-content>
  <form class="form" #addProduct="ngForm">
    <mat-horizontal-stepper linear #stepper>
      <mat-step #step1 optional="false" completed="false" editable="false">
        <ng-template matStepLabel>Select Product Category</ng-template>

        <table
        #table
          class="table"
          mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="mat-radio">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <mat-radio-group
                class="select-category"
                #category="ngModel"
                name="category"
                [(ngModel)]="data.category"
                required
              >
                <mat-radio-button class="radio-button" [value]="element._id">
                </mat-radio-button>
              </mat-radio-group>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="brief">
            <th mat-header-cell *matHeaderCellDef>Brief</th>
            <td mat-cell *matCellDef="let element">{{ element.brief }}</td>
          </ng-container>

          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>Image</th>
            <td mat-cell *matCellDef="let element">
              <img src="{{ element.image }}" style="height: 14vh;" alt="" />
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          #paginator
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 50, 100]"
          [showFirstLastButtons]="true"
        >
        </mat-paginator>

        <div>
          <button mat-button (click)="step1Check()" type="button">
            Next
          </button>
        </div>
      </mat-step>
      <mat-step optional="false" completed="false" #step2 editable="false">
        <ng-template matStepLabel>Fill out the details</ng-template>
        <div fxLayout="column" fxLayoutGap="10px">
          <mat-form-field>
            <input
              required
              ngModel
              #name="ngModel"
              name="name"
              matInput
              placeholder="Name"
              [(ngModel)]="data.name"
            />
          </mat-form-field>
          <mat-form-field>
            <input
              required
              ngModel
              #brief="ngModel"
              name="brief"
              matInput
              placeholder="Brief"
              [(ngModel)]="data.brief"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-chip-list #colorList aria-label="Color selection">
              <mat-chip
                *ngFor="let color of data.colors"
                selectable="true"
                removable="true"
                (removed)="removeColor(color)"
              >
                {{color}}
                <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
            <input
              placeholder="Add Colors"
              [matChipInputFor]="colorList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              matChipInputAddOnBlur="true"
              (matChipInputTokenEnd)="addColor($event)"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-chip-list #sizeList aria-label="Size selection">
              <mat-chip
                *ngFor="let size of data.sizes"
                selectable="true"
                removable="true"
                (removed)="removeSize(size)"
              >
                {{size}}
                <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
            <input
              placeholder="Add Sizes"
              [matChipInputFor]="sizeList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              matChipInputAddOnBlur="true"
              (matChipInputTokenEnd)="addSize($event)"
            />
          </mat-form-field>

          <button type="button" mat-raised-button (click)="image.click()">
            Upload Image
          </button>
          <input
            hidden
            #image
            type="file"
            name="image"
            (change)="onFileChange($event)"
            multiple="false"
          />
          <img [src]="img" style="height: 20vh" alt="" />
          <mat-form-field>
            <span matPrefix>Rs. &nbsp;</span>
            <input
              required
              ngModel
              #price="ngModel"
              name="price"
              matInput
              placeholder="Price"
              [(ngModel)]="data.price"
              type="number"
            />
          </mat-form-field>
        </div>

        <div>
          <button mat-button (click)="step2Check()" type="button">
            Next
          </button>
        </div>
      </mat-step>
      <mat-step #step3 completed="false" editable="false" optional="false">
        <ng-template matStepLabel>Specify Quantities</ng-template>

        <div class="hardTable">
          <div class="row">
            <div class="cell" fxLayout>
              <div class="color">Color</div>
              <div class="size">Size</div>
              <div class="quantity">Quantity</div>
            </div>
          </div>
          <div
            class="row"
            *ngFor="let color of object(quantity); let i = index"
          >
            <div
              class="cell"
              *ngFor="let size of object(quantity[color]); let j = index"
              fxLayout
            >
              <div class="color">{{color}}</div>
              <div class="size">{{size}}</div>
              <div class="quantity">
                <mat-form-field>
                  <input
                    [id]="'quantity' + i + j"
                    [name]="'quantity' + i + j"
                    matInput
                    placeholder="Quantity"
                    type="number"
                    [(ngModel)]="data.quantity[color][size]"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div>
          <button
            mat-button
            [mat-dialog-close]="data"
            [disabled]="!addProduct.valid"
            (click)="step3Check()"
          >
            Submit
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancel</button>
  <!-- <button
    mat-button
    [mat-dialog-close]="data"
    [disabled]="!addSales.valid"
    cdkFocusInitial
  >
    Ok
  </button> -->
</div>
