<div class="orders" fxLayout="column" fxLayoutGap="5vh">
  <div
    class="ongoing"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="3vh"
  >
    <div class="heading">Ongoing Orders</div>
    <table
      #tableOngoing
      class="table"
      mat-table
      [dataSource]="dataSource[0]"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
      </ng-container>

      <ng-container matColumnDef="pin">
        <th mat-header-cell *matHeaderCellDef>PIN</th>
        <td mat-cell *matCellDef="let element">{{ element.pin }}</td>
      </ng-container>

      <ng-container matColumnDef="approve">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-raised-button (click)="approve(element, i)">
            Approve
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
    </table>
  </div>
  <div
    class="approved"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="3vh"
  >
    <div class="heading">Approved Orders</div>
    <table
      #tableApprove
      class="table"
      mat-table
      [dataSource]="dataSource[1]"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
      </ng-container>

      <ng-container matColumnDef="pin">
        <th mat-header-cell *matHeaderCellDef>PIN</th>
        <td mat-cell *matCellDef="let element">{{ element.pin }}</td>
      </ng-container>

      <ng-container matColumnDef="dispatch">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button mat-raised-button (click)="dispatch(element, i)">
            Dispatch
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
    </table>
  </div>
  <div
    class="dispatched"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="3vh"
  >
    <div class="heading">Dispatched Orders</div>
    <table
      #tableDispatch
      class="table"
      mat-table
      [dataSource]="dataSource[2]"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
      </ng-container>

      <ng-container matColumnDef="pin">
        <th mat-header-cell *matHeaderCellDef>PIN</th>
        <td mat-cell *matCellDef="let element">{{ element.pin }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
